@charset "utf-8";
body {
  background: #ebfaff;
}
.container {
  width: 340px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.img_box {
  width: 200px;
  height: 200px;
  /* 원형 */
  border-radius: 100%;
  overflow: hidden;
}
.img_box img {
  width: 100%;
  height: 100%;

  /* help!!  */
}
.name_box {
  text-align: center;
}
.name_box p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}
.name_box p:nth-child(2) {
  font-size: 13px;
  color: #999;
}

.container > a {
  width: 200px;
  line-height: 35px;
  /* 모서리 둥글게, 배경색, 그림자, 글씨 정렬 */
  border-radius: 20px;
  background: #8fdfff;
  font-size: 13px;
  text-align: center;
  color: #fff;
  box-shadow: 10px 10px 30px #8fdfff;
}
.list {
  width: 90%;
  line-height: 40px;
  color: #999;
  font-size: 14px;
}
.list > li:nth-child(1) {
  border-bottom: 1px solid #ddd;
}
.color_box {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.color_box > li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.c_1 {
  background: #8fdfff !important;
  box-shadow: 5px 5px 10px #8fdfff !important;
}
.c_2 {
  background: #ffefb9 !important;
  box-shadow: 5px 5px 10px #8fdfff !important;
}
.c_3 {
  background: #ffbbb9 !important;
  box-shadow: 5px 5px 10px #8fdfff !important;
}
.c_4 {
  background: #83e0a2 !important;
  box-shadow: 5px 5px 10px #8fdfff !important;
}

.tone1 {
  background: #ebfaff !important;
}
.tone1 > .container > a {
  background: #8fdfff !important;
  box-shadow: 10px 10px 30px #8fdfff !important;
}

.tone2 {
  background: #fff6d8 !important;
}
.tone2 > .container > a {
  background: #ffefb9 !important;
  box-shadow: 10px 10px 30px #ffefb9 !important;
}

.tone3 {
  background: #ffdbda !important;
}
.tone3 > .container > a {
  background: #ffbbb9 !important;
  box-shadow: 10px 10px 30px #ffbbb9 !important;
}

.tone4 {
  background: #cef8dc !important;
}
.tone4 > .container > a {
  background: #83e0a2 !important;
  box-shadow: 10px 10px 30px #83e0a2 !important;
}
